
body{
  background-color: #802e29;
  font-family: "bodoni-urw", serif;
}
.card{
    margin: auto;
    position: relative;
    width:300px;
    height:450px;
    background-color: #ffffff;
   }

  
h1{
  font-weight: bold;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: right;
  padding-right: 20px;
  
  
}
h2{
  font-weight: normal;
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: right;
  padding-right: 20px;
  bottom: 0;
}

.logo-container{
    fill: #172601;
    stroke-width: 0px;
    position: absolute;
    width: 300px;
    height: auto;
    right: 50px;
    bottom: 220px;
  }
   